@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
}


body {
    background: #343541;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#send-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    bottom: 20px;
    background: #40414F;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  